.reset{
    padding:50px;
    display:flex;
    flex-direction:column;
    background-image:url("https://picstatio.com/large/geciv2/blue-cloudy-sky-wallpaper.jpg");
    background-size:cover ;
    background-repeat: no-repeat;
    color: black;
}